:root {
  --main-bg-color: #F6F7F8;
  --primary-color: #2980B9;
  --secondary-color: #2C3E50;

  --primary-font: 'Poppins', sans-serif;

  --large-font-size: 35px;
  --medium-font-size: 25px;
  --inbetween-font-size: 17px;
  --small-font-size: 14px;
}

body {
  background-color: var(--main-bg-color);
}

.navbar {
  margin-top: 30px;
  align-items: flex-end;
  padding: 0;
}

.logo>h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: var(--large-font-size);
  color: var(--primary-color)
}

.logo>p {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: var(--small-font-size);
  color: var(--secondary-color);
}

input[type='radio'] {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a,
small {
  font-size: var(--medium-font-size);
  font-weight: lighter;
  color: var(--secondary-color);
}

.active-link {
  font-weight: 400;
}

.links {
  margin-bottom: 26px;
}

.links a {
  padding: 10px;
  font-size: var(--inbetween-font-size);
}